body{
    background-color: rgb(255, 0, 255);
    font-family:oswald, cursive ;
  }
  header{
    font-size:50px;
    text-align:center;
  }
  .top1{
    background-color: rgba(224, 32, 138, 0.877);
    color:rgb(98, 7, 184);
    text-align:center;
    padding:40px;
  }
